*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li a{
    transition: .3s;
}
li > a:hover{
    color: aqua !important;
}
.cart{
    position: relative;
}
.cart span{
    font-size: 14px;
    left: 90%;
    padding: 0 2px;
    display: inline-block;
    background: red;
}
@media only screen and (max-width:992px) {
    .hamburger{
        display: block !important;
    }
    .menu{
        display: none !important;
    }
    .menu.active{
        display: flex !important;
        position: absolute;
        top: 100%;
        right: 0;
        width: 30%;
        border: 1px solid black;
        flex-direction: column;
        z-index: 100;
        background-color: white;
        gap: 0px !important;
    }
    .menu li:first-child{
        padding-top: 20px;
    }
    .menu li:last-child{
        padding-bottom: 20px;
    }
    .menu li{
        padding: 10px;
    }
}